
.confirmation-main.no_icon{max-width: 100%; display: block;}
.confirmation-main{max-width: 1225px; gap: 52px; padding: 96px 0 50px 335px; flex-direction: row-reverse;}
.confirmation-watermark{left: 8px; top: 56px; min-height: 372px;}
.confirmation-watermark svg:not(:first-child){top: 244px; left: -31px; position: absolute; }
.confirmation-text{flex: 1; }
.confirmation-text h1{color: var(--midnight); margin-bottom: 18px;}

.confirmation-desc{max-width: 421px; margin-bottom: 24px; line-height: 31px; letter-spacing: 0; color: var(--muted-dark, rgba(16, 42, 70, 0.60)); font-family: 'Century Gothic', sans-serif; letter-spacing: 0;}
.confirmation-icons{flex: 0 0 196px; margin-top: 24px;}
.confirmation-box{width: 196px; height: 196px; top: 0; left: 0; position: absolute;}
.confirmation-box::after{clip-path: polygon(0 0, 100% 0, 53% 50%, 0% 100%); width: 27px; height: 27px; bottom: -27px; left: 0; position: absolute; content: ""; display: block;}


.confirmation-box.pacific-blue{transform: rotate(-20deg); top: -26px; left: -47px; background-color: var(--pacific-blue);}
.confirmation-box.pacific-blue::after{background-color: var(--pacific-blue); }

.confirmation-box.capri-ocean{background-color: var(--capri-ocean); transform: rotate(-10deg); top: -15px; left: -23px;}
.confirmation-box.capri-ocean::after{background-color:  var(--capri-ocean); }

.confirmation-box.green-pear{background-color: var(--green-pear);}
.confirmation-box.green-pear::after{background-color:  var(--green-pear); }


.confirmation-tick{top: 50%; left: 50%; transform: translate(-50%, -50%); width: 196px; height: 192px;}
.confirmation-tick svg{width: 127px; height: 106px; top: calc(50% + 3px); left: 50%; transform: translate(-50%, -50%); position: absolute;}


@media screen and (max-width: 1299px) and (min-width: 1024px) {
    .confirmation-main{padding: 96px 0 50px 100px; gap: 92px;}
}
@media screen and (max-width: 1023px) and (min-width: 740px) {
    .confirmation-text{padding-right: 100px;}
}
@media screen and (max-width: 1023px) and (min-width: 200px) {
    .confirmation-main{max-width: 100%; padding: 52px 0 79px 0; gap: 77px; margin-bottom: 100px; border-bottom: 1px solid rgba(45, 87, 130, 0.14);}
    .confirmation-icons{flex: 100%; margin: 24px 0 0 20px;}
    .confirmation-box{width: 55px; height: 53px;}
    .confirmation-box::after{width: 10px; height: 10px; bottom: -9px;}
    .confirmation-box.pacific-blue{top: -7px; left: -13px;}
    .confirmation-box.capri-ocean{transform: rotate(-9deg); top: -4px; left: -6px;}
    .confirmation-tick svg{width: 35px; height: 30px; top: calc(50% + 0px);}
    .confirmation-text h1{font-size: 43px; line-height: 1.19; letter-spacing: -0.43px; padding-right: 5px; margin-bottom: 30px;}
    .confirmation-desc{margin-bottom: 17px;}

    .confirmation-watermark{width: 100%; top: 0; left: 0;}
    .confirmation-watermark svg:first-child{right: 12px; top: 15px; position: absolute;}
    .confirmation-watermark svg:last-child{right: 108px; top: 200px; position: absolute; left: auto;}

}






