



.confirmation-main{max-width: 1225px; gap: 52px; padding: 0 0 50px 335px; flex-direction: row-reverse;}
.confirmation-watermark{left: 8px; min-height: 372px;}
.confirmation-watermark svg:not(:first-child){top: 244px; left: -31px; position: absolute; }
.confirmation-text{flex: 1; }
.confirmation-text h1{color: var(--midnight); margin-bottom: 18px;}
.confirmation-desc{max-width: 421px; margin-bottom: 26px; color: var(--muted-dark, rgba(16, 42, 70, 0.60)); font-family: 'Century Gothic', sans-serif; letter-spacing: 0;}
.confirmation-icons{flex: 0 0 273px;}
.confirmation-box{width: 196px; height: 196px; top: 0; left: 0; position: absolute;}
.confirmation-box::after{clip-path: polygon(0 0, 100% 0, 53% 50%, 0% 100%); width: 27px; height: 27px; bottom: -27px; left: 0; position: absolute; content: ""; display: block;}


.confirmation-box.pacific-blue{
    transform: rotate(-16deg);
    top: -19px;
	left: -39px;
    background-color: var(--pacific-blue);}
.confirmation-box.pacific-blue::after{background-color: var(--pacific-blue); }

.confirmation-box.capri-ocean {
    background-color: var(--capri-ocean);
	transform: rotate(-8deg);
	top: -14px;
	left: -19px;
}
.confirmation-box.capri-ocean::after{background-color:  var(--capri-ocean); }

.confirmation-box.green-pear{background-color: var(--green-pear);}
.confirmation-box.green-pear::after{background-color:  var(--green-pear); }


.confirmation-tick{top: 50%; left: 50%; transform: translate(-50%, -50%); width: 196px; height: 196px;}

.confirmation-tick svg{width: 127px; height: 106px;}






