
.learn-article > p:first-child{font-size: 20px; line-height: 1.55; font-weight: normal; font-family: 'Century Gothic'; margin-bottom: 54px;}
.short-subhead-image{margin: 60px 0;}
.short-subhead-thumb{margin-bottom: 40px;}
.short-subhead-bg{transform: translate(-20px,20px); opacity: 0.3;}
.short-subhead-green{background-color: var(--green-pear);}
.short-subhead-blue{background-color: var(--capri-ocean);}
.short-subhead-caption{font-size: 14px; line-height: 1.43; color: rgba(16, 42, 70, 0.6); margin-bottom: 20px;}
.learn-article .accordion-content{font-size: 15px; line-height: 25px; opacity: 0.75; letter-spacing: normal;}
.color-red{color: #ff0000;}
.learn-article h3{margin-top: 57px;}
.learn-article h4{margin-bottom: 25px;}


@media screen and (min-width: 1024px) {
    .learn-main{gap: 167px; margin-bottom: 112px;}
    body.page-template-learn-model .learn-main{margin-bottom: 50px;}
    .learn-article{flex: 0 0 894px;}
    .learn-sidebar{flex: 0 0 calc(100% - 1061px);}
    body.page-template-learn-default .learn-article table{margin: 62px 0 59px;}
}

@media screen and (max-width: 1399px) and (min-width: 1024px) {
    .learn-main{gap: 80px; margin-bottom: 80px;}
    .learn-article{flex: 0 0 58%;}
    .learn-sidebar{flex: 0 0 calc(100% - 66.6%);}
}

@media screen and (max-width: 1023px) and (min-width: 740px) {
    .learn-main{margin-bottom: 80px;}
    .learn-article{margin-bottom: 82px;}
    body.page-template-learn-model .learn-article{margin-bottom: 40px;}
}
@media screen and (max-width: 739px) and (min-width: 200px) {
    .learn-main{margin-bottom: 76px;}
    .learn-article{margin-bottom: 82px;}
    body.page-template-learn-model .learn-article{margin-bottom: 40px;}
    .short-subhead-image{margin: 40px 0;}
}