
.learn-table-lt table{margin: 0;}
.learn-table{margin-bottom: 56px;}
.learn-table h4{margin-bottom: 22px;}
.learn-table-inner{width: 776px;}
.learn-table-inner table{margin: 25px 0;}
.learn-tablefull-main table{margin: 0;}
.learn-tablefull-heading{border-bottom: 1px solid var(--line-dark); margin-bottom: 37px;}
.learn-tablefull-main h3{margin-bottom: 8px;}
.learn-tablefull{margin-bottom: 37px;}
.learn-tablefull h4{margin-bottom: 20px;}

@media screen and (min-width: 1024px) {
    .learn-tablefull-main{margin-bottom: 120px;}
    
}

@media screen and (max-width: 1023px) and (min-width: 200px){
    .learn-table-main{padding: 30px 0 0;}
    .learn-tablefull{overflow-x: scroll;}
    .learn-tablefull-main{margin-bottom: 70px;}
    .learn-tablefull-main table{width: 1010px; max-width: inherit;}
    .learn-tablefull-main table tr td:first-child{font-weight: bold;}
}

@media screen and (max-width: 1023px) and (min-width: 740px){
    .learn-tablefull-main table { width: 1250px;}
}