
.learn-table-lt table{margin: 0;}
.learn-table{margin-bottom: 56px;}
.learn-table h4{margin-bottom: 22px;}
.learn-table-inner{width: 776px;}
.learn-table-inner table{margin: 25px 0;}
.learn-tablefull-main table{margin: 0;}
.learn-tablefull .tablepress caption { display: none; }
.learn-tablefull-heading{border-bottom: 1px solid var(--line-dark); margin-bottom: 37px;}
.learn-tablefull-main h3{margin-bottom: 8px;}
.learn-tablefull{margin-bottom: 37px;}
.learn-tablefull h4{margin-bottom: 20px;}

.learn-tablefull th { font-family: 'Century Gothic' !important; font-weight: 800 !important; border-width: 0 !important; padding: 16px 22px 18px !important; background-color: rgba(217,238,247,.65) !important; color: var(--pacific-blue) !important; border-radius: 0 !important; font-size: 18px !important; line-height: 1.22 !important; }
.learn-tablefull td { border-width: 0 !important; padding: 14px 22px 16px !important; text-align: right !important; border-bottom: 1px solid rgba(0,0,0,.1) !important; vertical-align: middle !important; font-size: 1.05rem !important; line-height: 1.5rem !important; font-family: 'Century Gothic'!important; }
.learn-tablefull table tr td:first-child, table tr th:first-child { text-align: left !important; }
.learn-tablefull table tr td:first-child{ font-weight: bold; }
.tablepress > .row-hover > tr.even:hover > * { background-color: transparent !important; color: var(--midnight) !important; }
.tablepress > :where(tbody) > .odd > * { background-color: #e6f4fa !important; color: var(--midnight) I !important; }

.negative-value{color: #ff0000;}

.tablepress > :where(tbody) > .odd > .negative-value {color: #ff0000 !important;}
.tablepress > :where(tbody) > .even > .negative-value {color: #ff0000 !important;}
.tablepress > :where(tbody) > .odd > .negative-value:hover {color: #ff0000 !important;}
.tablepress > :where(tbody) > .even > .negative-value:hover {color: #ff0000 !important;}
.tablepress > .row-hover > tr.even:hover > .negative-value{color: #ff0000 !important;}

.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate{display: none;}

@media screen and (min-width: 1024px) {
    .learn-tablefull-main{margin-bottom: 120px;}

    .learn-circle-main{display: flex; align-items: center; gap: 119px; }
    .learn-model-table.performance-table{flex: 0 0 776px;}
    .false-For-Bottom-Text{flex: 1;} 
}

@media screen and (max-width: 1199px) and (min-width: 1024px){
    .learn-tablefull{overflow-x: scroll;}
    .learn-tablefull-main table{width: 1199px; max-width: inherit;}
}

@media only screen and (max-width: 1439px) and (min-width: 200px){
    .learn-table-section .container{padding: 0;}
    .learn-tablefull-section .container{padding: 0;}
}


@media screen and (max-width: 1023px) and (min-width: 200px){
    .learn-table-main{padding: 30px 0 0;}
    .learn-tablefull{overflow-x: scroll;}
    .learn-tablefull-main{margin-bottom: 70px;}
    .learn-tablefull-main table{width: 1199px; max-width: inherit;}
    .learn-tablefull-main table tr td:first-child{font-weight: bold;}
    .learn-table-section .container{padding: 0;}
    .learn-tablefull-section .container{padding: 0;}

    .learn-article table{width: fit-content !important; max-width: 100%; overflow-x: auto; display: block; height: auto !important;}
}

@media screen and (max-width: 1023px) and (min-width: 740px){
    .learn-tablefull-main table { width: 1250px;}
}