
.meet-with-banner{background-color: var(--french-navy);  box-shadow: -20px 20px 0 0 #d9eef7;}
.meet-with-title span.optional-text{color: rgba(217, 238, 247, 0.6); font-weight: 500; margin-bottom: 22px;}
.meet-with-title h1{color: var(--white); margin-bottom: 20px;}
.meet-with-desc{display: block; font-size: 20px; line-height: 1.55; color: rgba(217, 238, 247, 0.6); font-family: 'Century Gothic'; margin-bottom: 22px;}
ul.meet-with-call{margin: 0;}
ul.meet-with-call > li{margin-bottom: 5px; line-height: 1.76;}
ul.meet-with-call > li::before{display: none;}
ul.meet-with-call > li > a{align-items: center; gap: 10px; color: var(--white); font-family: 'Century Gothic'; width: fit-content;}
ul.meet-with-call > li > a:hover{color: var(--green-pear);}
.meet-watermark{top: 223px; right: 0;}
.meet-watermark svg:first-child{top: 0; right: -67px; position: absolute;}
.meet-watermark svg:not(:first-child){top: 150px; right: 192px; position: absolute;}

ol.meet-form-step{gap: 20px; margin: 0 0 26px 0;}
ol.meet-form-step > li{font-size: 18px; font-weight: bold; color: var(--capri-ocean); line-height: 1; letter-spacing: -0.54px; font-family: 'Century Gothic'; flex: 1; padding: 0 0 22px 45px; border-bottom: 4px solid var(--capri-ocean); opacity: 0.4;}
ol.meet-form-step > li.active{opacity: 1;}
ol.meet-form-step > li::before{top: -5px; left: 0; width: 32px; height: 32px; font-size: 18px; font-weight: 700; line-height: 18px; letter-spacing: -.54px; background-color: var(--capri-ocean);}
/* ol.meet-form-step > li::after{ content: ""; width: 100%; height: 4px; background-color: var(--capri-ocean); bottom: 0; left: 0; position: absolute;}  */

.meet-with-polygon{content: ""; width: 111px; height: 111px; bottom: -110px; left: 0; clip-path: polygon(0% 0,100% 0,100% 0%,0 100%); background-color: var(--french-navy,#013); display: block;}
body .meet-with-form .frm_forms .frm_form_fields .frm_submit button[type="submit"], button {padding: 14px 43px 15px;}


.meet-location-thumb{box-shadow: -20px 20px 0 0 rgba(8, 148, 211, 0.3);}
.meet-location-text h2{font-size: 23px; font-weight: 500; line-height: 1.17; letter-spacing: -0.23px; margin-bottom: 10px;}
.meet-location-text > span{font-size: 15px; line-height: 1.67; font-weight: normal; font-family: 'Century Gothic'; display: block; margin-bottom: 10px;}
ul.meet-location-call{margin: 0;}
ul.meet-location-call > li{margin-bottom: 5px; line-height: 1.76;}
ul.meet-location-call > li::before{display: none;}
ul.meet-location-call > li > a{align-items: center; gap: 10px; color: var(--midnight); font-family: 'Century Gothic'; line-height: normal; width: fit-content;}
ul.meet-location-call > li > a:hover {color: var(--capri-ocean);}
ul.meet-location-call  svg > path{fill: var(--capri-ocean);}


.meet-location-watermark{right: 0; top: 82px;}
.meet-location-watermark  svg:first-child{top: 0; right: -50px; position: absolute;}
.meet-location-watermark  svg:not(:first-child){top: 154px; right: -277px; position: absolute;}

/* media css starts here */
@media screen and (min-width: 1024px) {
    .meet-with-main{padding: 232px 0 148px; gap: 170px;}
    .meet-with-title{flex: 0 0 422px;}
    .meet-with-form{flex: 0 0 calc(100% - 592px);}
    .meet-location-main{padding: 130px 0 139px; gap: 80px 0;}
    .meet-location-image{flex: 0 0 216px; margin-left: 20px;}
    .meet-location-text{flex: 0 0 calc(100% - 304px); padding-top: 31px;}
    .meet-location-list{gap: 68px;}
    .meet-location-list:nth-child(odd){flex: 0 0 585px; padding-right: 77px;}
    .meet-location-list:nth-child(even){flex: 1; max-width: 655px; min-width: 635px; padding-left: 68px; border-left: 1px solid rgba(45, 87, 130, 0.14);}
}
@media screen and (max-width: 1299px) and (min-width: 1024px) {
    .meet-location-list:nth-child(odd), .meet-location-list:nth-child(even){flex: 0 0 48%;}
    .meet-location-list:nth-child(odd){padding-right: 60px;}
    .meet-location-list:nth-child(even){padding-left: 60px; min-width: auto;}
    .meet-location-list{gap: 30px;}
    .meet-location-image { flex: 0 0 185px;}
    .meet-location-text{flex: 0 0 calc(100% - 235px);}
    .meet-location-list::before{left: -48px;}
    .meet-with-main{gap: 50px;}
    .meet-with-title {flex: 0 0 385px;}
    .meet-with-form {flex: 0 0 calc(100% - 435px);}
}

@media screen and (max-width: 1023px) and (min-width: 200px) {
    .meet-with-main{padding: 147px 0 97px;}
    .meet-with-title{margin-bottom: 83px;}
    .meet-with-title span.optional-text{margin-bottom: 16px;}
    .meet-with-title h1{margin-bottom: 16px;}
    .meet-with-form{width: 100%;}
    ol.meet-form-step > li::before{top: 0;}
    ol.meet-form-step > li{font-size: 16px; font-weight: 700; line-height: 1.13; letter-spacing: -.48px; align-items: center; display: flex; padding: 0 0 13px 45px; min-height: 53px;}

    .meet-location-main{padding: 80px 0 72px;}
    .meet-location-list{gap: 33px; margin-bottom: 40px;}
    .meet-location-list:last-child{margin-bottom: 0;}
    .meet-location-image{flex: 0 0 132px;}
    .meet-location-thumb{box-shadow: -10px 10px 0 0 rgba(8, 148, 211, 0.3);}
    .meet-location-text{flex: 0 0 calc(100% - 165px); padding-top: 25px;}

    .meet-watermark{top: 0; right: 0;}
    .meet-watermark svg:first-child{top: -57px; right: 3px;}
    .meet-watermark svg:not(:first-child){top: 146px; right: 153px;}
    .meet-with-polygon{width: 50px; height: 50px; bottom: -49px;}
}

@media screen and (max-width: 1023px) and (min-width: 740px) {
    .meet-location-main{padding: 97px 0;}
    .meet-location-text{padding-top: 0;}
}