
.team-section-heading{text-align: center; max-width: 661px; margin: 0 auto;}
.team-section-heading .optional-text{color: rgba(16, 42, 70, 0.6); margin-bottom: 3px;}
.team-section-heading h1{font-size: 90px; line-height: 1.22; letter-spacing: -0.9px; margin-bottom: 8px;}
.team-desc{font-size: 20px; line-height: 1.55; color: rgba(16, 42, 70, 0.6); font-family: 'Century Gothic'; display: block; margin-bottom: 30px;}
.team-form{margin-bottom: 30px;}
.team-form input{padding: 10px 17px; width: calc(100% - 58px); height: auto; font-size: 18px; line-height: 18px; letter-spacing: 0; border: 1px solid var(--line-dark,rgba(45,87,130,.14)); background-color: var(--white,#fff);}
.team-form button[type="submit"]{padding: 0; width: 58px; border-radius: 0; border: none;}
.link-btn{font-size: 14px; line-height: 1.29; letter-spacing: -0.14px; color: rgba(16, 42, 70, 0.6);}