
.team-section-main{margin-top: 180px;}
.team-heading{text-align: center;  margin-bottom: 60px; padding-bottom: 100px; border-bottom: 1px solid rgba(45, 87, 130, 0.14);}
.team-heading-inner{max-width: 661px; margin: 0 auto;}
.team-heading .optional-text{color: rgba(16, 42, 70, 0.6); margin-bottom: 3px;}
.team-heading h1{font-size: 90px; line-height: 1.22; letter-spacing: -0.9px; margin-bottom: 8px;}
.team-desc{font-size: 20px; line-height: 1.55; color: rgba(16, 42, 70, 0.6); font-family: 'Century Gothic'; display: block; margin-bottom: 30px;}
.team-form{margin-bottom: 30px;}
.team-form input{padding: 10px 17px; width: calc(100% - 58px); height: auto; font-size: 18px; line-height: 18px; letter-spacing: 0; border: 1px solid var(--line-dark,rgba(45,87,130,.14)); background-color: var(--white,#fff);}
.team-form button[type="submit"]{padding: 0; width: 58px; border-radius: 0; border: none;}
.link-btn{font-size: 14px; font-family: 'Century Gothic'; line-height: 1.29; letter-spacing: -0.14px; color: rgba(16, 42, 70, 0.6); position: relative; padding-right: 18px;}
.link-btn > span{position: absolute; right: 0; top: 3px; transition: all .5s ease;}
.link-btn:hover > span{right: -10px;}

.career-right-bg{right: -92px; top: 90px;}
.career-right-sm{right: 144px; top: 17px;}
.career-left-bg{left: 111px; top: 10px;}
.career-left-sm{left: -98px; top: 153px;}

.team-filter{justify-content: space-between; margin-bottom: 60px;}
.team-filter-title h2{font-size: 34px; line-height: 1.24; margin-bottom: 0;}
.team-filter-form{gap: 46px;}
.team-all{min-width: 27px; line-height: normal; border-bottom: 2px solid rgba(45, 87, 130, 0.14);}
.team-role{min-width: 95px; line-height: normal; border-bottom: 2px solid rgba(45, 87, 130, 0.14);}
.team-location{min-width: 137px; line-height: normal; border-bottom: 2px solid rgba(45, 87, 130, 0.14);}
.team-department{min-width: 171px; line-height: normal; border-bottom: 2px solid rgba(45, 87, 130, 0.14);}
.team-all .selectBox-dropdown, .team-role .selectBox-dropdown, .team-location .selectBox-dropdown, .team-department .selectBox-dropdown{padding: 0 24px 0 0; line-height: normal;}
.team-all .selectBox-dropdown .selectBox-arrow, .team-role .selectBox-dropdown .selectBox-arrow,  .team-location .selectBox-dropdown .selectBox-arrow, .team-department .selectBox-dropdown .selectBox-arrow{right: 0;}

.team-lists{gap: 51px;}
.team-item{flex: 0 0 calc(25% - 39px);}
.team-item.ocean-light .team-image{background-color: rgba(8, 148, 211, 0.1);}
.team-item.pear-light .team-image{background-color: rgba(137, 203, 62, 0.1);}
.team-item.aguamarine-light .team-image{background-color: rgba(16, 181, 150, 0.12);}
.team-image{margin-bottom: 27px;}
.team-details{text-align: center; padding: 0 20px;}
.team-details h3{font-size: 26px; font-weight: 500; line-height: 1.23; letter-spacing: -0.78px; margin-bottom: 8px;}
.team-details > span{font-size: 14px; display: block; line-height: 1.57; letter-spacing: -0.42px; color: rgba(16, 42, 70, 0.6);}

.load-more-btn{margin: 50px auto 100px;}



