
.breadcrumb{padding: 45px 0; margin-bottom: 10px;}
ul.breadcrumb-list{margin: 0; gap:10px 50px;}
ul.breadcrumb-list > li::before{content: ""; position: absolute; left: -28px; top: 11px; background: url("./images/breadcrumb-arrow.svg"); background-repeat: no-repeat; background-size: cover; width: 9px; height: 9px;}
ul.breadcrumb-list > li:first-child::before{display: none;}
.breadcrumb-list > li{margin-bottom: 0;}
.breadcrumb-list > li > a{font-size: 14px; line-height: 1.43; font-family: 'Century Gothic'; color: rgba(16, 42, 70, 0.6); font-weight: normal;}
.breadcrumb-list > li > a.active{color: var(--midnight);}
.breadcrumb-list > li > a:hover{color: var(--green-pear);}


@media screen and (max-width: 1549px) and (min-width: 1024px) {
    .breadcrumb{padding: 45px 0 45px 100px;}
}
@media screen and (max-width: 739px) and (min-width: 200px) {
    .breadcrumb{padding: 32px 0;}
}