


.career-opps-section{background-color: var(--ice-blue-light, rgba(217, 238, 247, 0.65));}
.career-opps-text{line-height: 31px; letter-spacing: 0.4px; color: rgba(16, 42, 70, 0.60);}
.career-opps-text h1{margin-bottom: 17px;}
.career-opps-text p{margin-bottom: 23px;}
.career-opps-thumb{box-shadow: -20px 20px 0 var( --capri-ocean);}

.career-polygon-main{left: -104px; width: 151px; height: 151px;}
.career-polygon-light{ width: 131px; height: 137px; left: 0; background-color: #e7f4fa; clip-path: polygon(0 0,100% 0,50% 50%,0% 100%); }
.career-polygon-dark { width: 20px; height: 155px; background-color: #ceeaf6; clip-path: polygon(0 0,100% 0,100% 88%,0% 100%); content: ""; left: -20px; }

/* media css starts here */
@media screen and (min-width: 1024px){
    .career-opps-section{ box-shadow: -20px 20px 0 0 rgba(8, 148, 211, 0.2);}
    .career-opps-main{gap: 147px; padding: 141px 0 0;}
    .career-opps-watermark{top: 73px; left: -304px;}
    .career-opps-text{flex: 1; padding-top: 60px; max-width: 423px; margin-left: auto;}
    .career-opps-image{flex: 0 0 425px; transform: translateY(9px);}
    .career-opps-thumb img{max-height: 452px; overflow: hidden;}
}
@media screen and (max-width: 1299px) and (min-width: 1024px){
    .career-opps-main{gap: 70px;}
    .career-opps-watermark{left: -260px;}   
}
@media screen and (max-width: 1023px) and (min-width: 200px) {
    .career-opps-main{padding: 150px 0 0; max-height: 754px;}
    .career-opps-watermark svg{top: -60px; left: 194px; position: absolute;}
    .career-opps-text{margin-bottom: 70px;}
    .career-opps-image{padding-left: 20px; max-width: 354px; margin: 0 auto;}
}




