
.career-opp-section{background: rgba(217, 238, 247, 0.65);}
.career-opp-content h2{margin-bottom: 18px;}
.career-opp-content p{max-width: 415px;}
.career-opp-content .button{min-width: 162px;}
.career-opp-bg{right: 8px; top: 60px; z-index: -1;}
.career-opp-thumb{top: -20px;}
.career-opp-thumb::before{content: ""; position: absolute; width: 100%; height: 100%; background-color: #0894d3; z-index: -2; left: 20px; top: 20px;}


@media screen and (min-width: 1024px) {
    .career-opp-main{gap: 105px; max-width: 1130px; margin: 0 auto;}
    .career-opp-content{flex: 0 0 600px; padding: 104px 0 100px;}
    .career-opp-image{flex: 0 0 calc(100% - 705px); z-index: 2;}
}
@media screen and (min-width: 1024px) and (max-width: 1299px) {
    .career-opp-main{gap: 55px;}
    .career-opp-content{flex: 0 0 450px;}
    .career-opp-thumb img{max-height: 469px;}
    .career-opp-image{flex: 0 0 calc(100% - 505px); display: flex; justify-content: end;}
}

@media screen and (max-width: 1023px) and (min-width: 740px) {
    .career-opp-main{flex-direction: column-reverse; padding-bottom: 80px;}
    .career-opp-image{margin-bottom: 60px;}
    .career-opp-thumb{top: -40px; margin-right: 20px; position: relative;}
    .career-opp-content h2{margin-bottom: 16px; font-size: 36px; line-height: 1.22; letter-spacing: -0.36px;}
    .career-opp-content p{max-width: 100%;}
    .career-opp-bg-mob{bottom: -69px; right: 17px; z-index: -1;}
}
@media screen and (max-width: 739px) and (min-width: 200px) {
    .career-opp-main{flex-direction: column-reverse; padding-bottom: 80px;}
    .career-opp-image{margin-bottom: 60px;}
    .career-opp-thumb{top: -40px; margin-right: 20px; position: relative;}
    .career-opp-content h2{margin-bottom: 16px; font-size: 36px; line-height: 1.22; letter-spacing: -0.36px;}
    .career-opp-content p{max-width: 100%;}
    .career-opp-bg-mob{bottom: -69px; right: 17px; z-index: -1;}
}

