

.career-post-article > p:first-child > span {
	font-size: 20px;
	line-height: 31px;
	font-weight: 400;
    letter-spacing: 0;
    font-family: "Century Gothic", sans-serif;
}

.career-post-form{padding: 32px; background-color: var(--ice-blue);}

.career-post-main{gap: 90px; padding: 0 0 100px;}
.career-post-article{flex: 1;}
.career-post-form{flex: 0 0 304px;}




















