
.how-can-section{background: var(--ice-blue---Light, rgba(217, 238, 247, 0.65));}


ul.how-can-links{margin: 0;}
ul.how-can-links li::before{display: none;}
ul.how-can-links li a{transition: all 0.3s ease; color: var(--midnight, #121321); font-family: "Century Gothic", sans-serif; font-size: 22px; font-weight: 400; line-height: 31px; letter-spacing: -0.44px;}
ul.how-can-links li a.active, ul.how-can-links li a:hover{ color: var(--capri-ocean, #0894D3); }

.how-can-desc h2{margin-bottom: 15px; color: var(--capri-ocean, #0894D3); font-family: "Century Gothic", sans-serif; font-weight: 400; letter-spacing: -0.44px; }
.how-can-desc p{margin-bottom: 17px;}

.how-can-wrap{background-color: var(--white); padding: 16px 43px 0; box-shadow: 0 -5px 15px 0 rgba(6, 84, 163, 0.05);}
.how-can-thumb img{object-fit: contain; object-position: center bottom;}

.how-can-image .optional-box-bg{width: 110px; min-height: 105px}
.how-can-image .optional-box-bg.top-left{left: 0; top: 160px;}
.how-can-image .optional-box-bg.top-right{right: 0; top: 230px;}

/*-- media css starts here --*/
@media screen and (min-width: 1300px){
  .how-can-main{gap: 77px; padding: 155px 0 126px;}
  .how-can-text{width: 304px;}
  .how-can-right{width: calc(100% - 381px);}
  .how-can-desc{width: calc(100% - 435px); padding-left: 68px;}
  .how-can-image{ width: 435px; }
  ul.how-can-links{padding-top: 30px;}
  ul.how-can-links li{margin: 0 0 29px;}
}
@media screen and (min-width: 1024px){
    .how-can-wrap{flex-direction: row-reverse;}
    .how-can-thumb img{max-width: 325px; min-height: 503px; max-height: 503px; margin: 0 auto;}

    .how-can-bg.absolute { top: 50%; z-index: -1; left: 50%; transform: translate(-50% , -50%); width: 377px; }
    .how-can-text{text-align: right;}

    /*-- slider --*/
    .how-can-section{overflow: hidden; position: relative;}
    .how-can-slider .slick-list { padding-top: 32px; padding-bottom: 32px; } 
    .how-can-slider .slick-track { max-width: 100% !important; transform: translate3d(0, 0, 0) !important; perspective: 100px; }
    .how-can-slider .slick-slide { top: 0; left: 0; right: 0; bottom: 0; margin: auto; width: 100% !important; transform: translate3d(0, -20px, 0) scale(0.98); transition: transform 1s, opacity 1s; position: absolute; z-index: 2; }
    .how-can-slider .slick-slide:not(.slick-current):nth-child(n+3){ transform: translate3d(0, -40px, 0) scale(0.96); z-index: 1; }
    .how-can-slider .slick-current { opacity: 1; position: relative; display: block; transform: translate3d(0, 0, 0) scale(1); z-index: 3; }
    .how-can-slider .slick-slide:not(.slick-current):nth-child(n+3) .how-can-wrap{box-shadow: 0 0 2px 0 rgba(6,84,163,.05);}
    .how-can-slider .slick-slide:not(.slick-current):nth-child(n+3) .how-can-image{opacity: 0;}
    /*-- slider --*/
    .how-can-desc h2{font-size: 38px; line-height: 44px;}
}
@media screen and (max-width: 1299px) and (min-width: 1024px) {
    .how-can-main{gap: 40px; padding: 86px 0 126px;}
    .how-can-text {width: 250px;}
    .how-can-right{width: calc(100% - 290px);}

    .how-can-wrap{padding: 30px 30px 0px; display: block;}
    .how-can-desc{font-size: 16px; line-height: 26px; padding-bottom: 30px;}
    .how-can-desc h2{font-size: 34px; line-height: 40px;}
    .how-can-image{max-width: 435px; margin: 0 auto -4px;}
    .how-can-thumb img{min-height: 403px; max-height: 303px;}

    .how-text-sticky{top: 174px;}
    ul.how-can-links li{margin: 0 0 20px;}
  }
@media screen and (max-width: 1023px) and (min-width: 200px){
  .how-can-main{padding: 79px 0 40px; display: block;}
  ul.how-can-links{display: none;}
  .how-can-slider .slick-list{overflow: inherit;}
}
@media screen and (max-width: 1023px) and (min-width: 740px){
  .how-can-text{margin-bottom: 40px;}
  .how-can-wrap{padding: 48px 40px 0; display: block;}
  .how-can-desc{padding: 0 4px 0 0; margin-bottom: 23px;}
  .how-can-image{width: 100%;}
  .how-can-thumb img{max-width: 344px; min-height: 485px; max-height: 485px; margin: 0 auto;}
  .how-can-bg{ bottom: 20px; z-index: -1; left: 50%; transform: translateX(-50%); width: 385px; }
  .how-can-image .optional-box-bg {justify-content: center;}
  .how-can-image .optional-box-bg.top-right{right: -17px; top: 161px;}
  .how-can-image .optional-box-bg.top-left{left: -25px; top: 136px;}
  .how-can-slider ul.slick-dots{margin-top: 40px;}
  .how-can-slider .how-can-slide{width: 640px; margin-right: 20px;}
}
@media screen and (max-width: 739px) and (min-width: 200px) {
  .how-can-text{margin-bottom: 40px;}
  .how-can-wrap{padding: 48px 40px 0;}
  .how-can-desc{padding: 0 4px 0 0; margin-bottom: 23px; min-height: 398px;}
  .how-can-image{width: 100%;}
  .how-can-thumb img{max-width: 244px; margin: 0 auto;}
  .how-can-bg{ bottom: 20px; z-index: -1; left: 50%; transform: translateX(-50%); width: 285px; }
  .how-can-image .optional-box-bg {justify-content: center;}
  .how-can-image .optional-box-bg.top-right{right: -17px; top: 161px;}
  .how-can-image .optional-box-bg.top-left{left: -25px; top: 136px;}
  .how-can-slider ul.slick-dots{margin-top: 40px;}
  .how-can-slider .how-can-slide{width: 374px; margin-right: 10px;}
}










