
.how-can-section{background: var(--Ice-Blue---Light, rgba(217, 238, 247, 0.65));}
.how-can-main{gap: 96px; padding: 100px 0;}
.how-can-text{text-align: right;}



/*-- media css starts here --*/
@media screen and (min-width: 1024px){
    .how-can-text{flex: 0 0 304px;}
    .how-can-right{flex: 1;}
}












