
.learn-grid-list:nth-child(10n+4){flex: 0 0 100%; width: 100%; position: relative; background-color: var(--french-navy); color: var(--white);}
.learn-grid-list:not(:nth-child(10n+4)) .learn-grid-image{margin-bottom: 30px;}
.learn-grid-text{font-size: 21px; line-height: 1.43; letter-spacing: -0.42px; font-weight: 300; font-family: 'Century Gothic';}
.learn-grid-text p a{color: var(--midnight);}
.learn-grid-text p a:hover{color: var(--aquamarine);}
.learn-more-btn{position: relative; z-index: 2;}
.learn-more-btn .button{min-width: 200px;}
/* .learn-grid-list:not(:nth-child(10n+4)) .learn-grid-image img{min-height: 206px; max-height: 206px; overflow: hidden; object-position: top;} */
.learn-grid-list:nth-child(10n+4) .learn-grid-text p a{color: var(--white);}
.learn-grid-list:nth-child(10n+4) .learn-grid-text p a:hover{color: var(--aquamarine);}


@media screen and (min-width: 1024px) {
    .learn-grid-wrap{padding: 120px 0 66px;}
    .learn-grid-main{gap: 76px 50px; padding: 0 0 128px;}
    .no-post{text-align: center; display: block; width: 100%; padding-top: 95px;}
    .no-post h2{margin: 0;}
    .learn-grid-list{flex: 0 0 calc(33% - 30.5px);}
    .learn-grid-list:nth-last-child(-n+3)::after { height: 155px; width: 100%; top: calc(100% + 76px); display: block; content: ""; background: linear-gradient(var(--ice-blue-light), #fff); position: absolute; z-index: -1; }
    
    .learn-grid-image{flex: 0 0 50%;}
    .learn-grid-list:not(:nth-child(10n+4)) .learn-grid-thumb img{max-height: 226px; min-height: 226px; object-position: top;}
    .learn-grid-text{flex: 1;}
    
    .learn-grid-list:nth-child(10n+4){flex: 0 0 100%; display: flex; flex-wrap: wrap; margin: 30px 0 14px;}
    .learn-grid-list:nth-child(10n+4) .learn-grid-text{padding: 84px; font-size: 38px; font-weight: 400; line-height: 49px; letter-spacing: -0.76px; display: flex; flex-wrap: wrap; align-items: center;}
    .learn-grid-list:not(:nth-child(10n+4)) .learn-grid-text p{max-width: 300px; margin-bottom: 9px;} 
    .learn-grid-list:nth-child(10n+4) .learn-grid-text p{margin-bottom: 11px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .learn-grid-list:nth-child(10n+4) .learn-grid-text{padding: 60px 50px;}
}
@media only screen and (max-width: 1023px) and (min-width: 740px){
    .learn-grid-wrap{padding: 40px 0 66px;}
    .learn-grid-main{gap: 30px; padding: 0 0 128px;}
    .learn-grid-list{flex: 0 0 calc(33.33333% - 20px);}
    .learn-grid-thumb img{min-height: 180px;}
    .learn-grid-text { font-size: 18px; line-height: 28px; letter-spacing: -.42px; }
    .learn-grid-list:nth-last-child(-n+3)::after { height: 155px; width: 100%; top: calc(100% + 76px); display: block; content: ""; background: linear-gradient(var(--ice-blue-light), #fff); position: absolute; z-index: -1; }

    .learn-grid-list:nth-child(10n+4){ left: -40px; flex: 0 0 calc(100% + 80px); width: calc(100% + 80px); }
    .learn-grid-list:nth-child(10n+4) .learn-grid-text{padding: 54px; font-size: 38px; font-weight: 400; line-height: 49px; letter-spacing: -0.76px; }
    .learn-grid-list:nth-child(10n+4) .learn-grid-text p{margin-bottom: 11px;}
}
@media only screen and (max-width: 739px) and (min-width: 200px){
    .learn-grid-wrap{padding: 32px 0 54px;}
    .learn-grid-main{display: block; padding: 0 0 71px;}
    .learn-grid-list:not(:last-child){margin-bottom: 66px;}
    .learn-grid-text p{margin-bottom: 9px;}
    .learn-grid-list:nth-last-child(-n+1)::after { height: 155px; width: 100%; top: calc(100% + 17px); display: block; content: ""; background: linear-gradient(var(--ice-blue-light), #fff); position: absolute; z-index: -1; }


    .learn-grid-list:nth-child(10n+4) { left: -20px; flex: 0 0 calc(100% + 40px); width: calc(100% + 40px); }
    .learn-grid-list:nth-child(10n+4) .learn-grid-text{padding: 36px; font-size: 26px; font-weight: 400; line-height: 36px; letter-spacing: -0.52px; }
    .learn-grid-list:nth-child(10n+4) .learn-grid-text p{margin-bottom: 23px;}
}