

.learn-financial-intro{color: rgba(16, 42, 70, 0.60);}
.learn-financial-intro span.optional-text.muted { margin-bottom: 14px; color: rgba(16, 42, 70, 0.6); }
.learn-financial-intro h1{margin-bottom: 21px;}
.learn-financial-desc{max-width: 660px;}
.learn-financial-form{margin-bottom: 20px;}
.learn-financial-form input{padding: 10px 17px; width: calc(100% - 58px); height: auto; font-size: 18px; line-height: 18px; letter-spacing: 0; color: rgba(16, 42, 70, 0.60); border: 1px solid var(--line-dark, rgba(45, 87, 130, 0.14)); background-color: var(--white, #FFF); text-transform: capitalize;}
.learn-financial-form button[type="submit"]{padding: 0; width: 58px; background-color: var(--aquamarine); border-radius: 0; border: none;}
.learn-financial-form button[type="submit"] svg{width: 100%; height: 100%; display: block;}
.learn-financial-form button[type="submit"]:hover{background-color: var(--capri-ocean);}

.browse-news-btn{padding: 15px 18px 18px; font-size: 15px; line-height: 15px; background-color: var(--aquamarine); color: var(--white); text-transform: capitalize;}
.browse-news-btn::after{ content: "\f105"; right: 17px; top: 50%; transform: translateY(-50%); font-size: 17px; color: var(--white); font-weight: 400; font-family: "Font Awesome 6 pro"; position: absolute; }
input.browse-news-input{padding: 0; margin: 0; cursor: pointer; background: none;}

.learn-watermarks{z-index: -1;}
.learn-watermarks svg:nth-child(2){position: relative;}



/* media css starts here */
@media screen and (min-width: 1024px){
    .learn-financial-intro{margin-bottom: 42px;}
    .learn-watermarks{top: -10px; right: -35px; width: 380px;}
    .learn-watermarks svg:nth-child(2){left: 50px; top: -89px;}
    .browse-all-form{gap: 10px;}
    .browse-field{width: calc(33.3333% - 7px);}
}
@media screen and (min-width: 1300px){
    .learn-financial-main{padding: 37px 0 110px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .learn-financial-main{padding: 42px 0 80px;}
}
@media only screen and (max-width: 1023px) and (min-width: 740px){
    .learn-financial-main{padding: 42px 0 80px;}
    .learn-financial-intro{margin-bottom: 42px;}
    .learn-watermarks{top: -10px; right: 0; width: 380px;}
    .learn-watermarks svg:nth-child(2){left: 50px; top: -89px;}
    .browse-all-form{gap: 10px;}
    .browse-field{width: calc(33.3333% - 7px);}
}
@media only screen and (max-width: 739px) and (min-width: 200px){
    .learn-financial-main{padding: 57px 0 80px;}
    .learn-financial-intro{margin-bottom: 51px;}
    .learn-watermarks{top: -37px; right: 20px; width: 183px;}
    .learn-watermarks svg:nth-child(2){display: none;}
    .browse-all-form{display: block;}
    .browse-field:not(:last-child){margin-bottom: 10px;}
}














