
.market-section{background-color: var(--french-navy);}
.market-desc{color: var(--white);}
.market-desc h2{color: var(--white); margin-bottom: 23px;}
.market-desc p{margin-bottom: 20px;}
.market-desc ul{margin: 0 0 31px 27px;}
.market-desc ul > li::before{background: var(--capri-ocean);}
.market-watermark{top: -37px; right: -21px;}
.market-thumb-img{box-shadow: 20px 20px var(--capri-ocean);}
.market-stats{padding-bottom: 14px; margin-bottom: 13px; border-bottom: 1px solid rgba(255, 255, 255, 0.2); color: rgba(217, 238, 247, 0.6); font-family: "Century Gothic",sans-serif; font-size: 16px; font-weight: 400; line-height: 20px; letter-spacing: -.32px; text-align: left;}
.market-stats:last-child{border-bottom: none; padding-bottom: 0; margin-bottom: 0;}
.market-stat-num{color: var(--white,#fff); font-family: "Century Gothic",sans-serif; font-size: 29px; font-weight: 400; line-height: 30px; letter-spacing: 0.58px;}

@media screen and (min-width: 1024px) {
    .market-main{padding: 108px 0 0; gap: 92px;}
    .market-content{gap: 35px; flex: 0 0 617px;}
    .market-icon{flex: 0 0 62px;}
    .market-desc{flex: 0 0 calc(100% - 97px);}
    .market-rt{flex: 0 0 calc(100% - 709px); gap: 68px;}
    .market-images{flex: 0 0 450px; transform: translateY(-148px); margin-bottom: -37px;}
    .market-stats-col{flex: 0 0 calc(100% - 518px);}
}

@media screen and (max-width: 1409px) and (min-width: 1024px) {
    .market-main{gap: 30px; padding-bottom: 100px;}
    .market-icon{flex: 0 0 50px;}
    .market-icon svg{width: 50px;}
    .market-content{gap: 15px; flex: 0 0 46%;}
    .market-desc{flex: 0 0 calc(100% - 65px);}
    .market-rt{flex: 0 0 calc(100% - 50%); gap: 40px;}
    .market-images{flex: 0 0 65.7%;}
    .market-stats-col{flex: 0 0 calc(100% - 75%); max-width: 140px;}
}

@media screen and (max-width: 1023px) and (min-width: 200px) {
    .market-section{position: relative; z-index: 2;}
    .market-main{padding: 70px 0 0;}
    .market-content{margin-bottom: 40px;}
    .market-watermark{top: -79px; right: 0;}
    .market-rt{flex-direction: column-reverse;}
    .market-images{margin-right: 20px; transform: translateY(20px);}
    .market-stats-col{display: flex; width: 100%; flex-wrap: wrap; margin-bottom: 20px;}
    .market-stats{flex: 0 0 50%; padding-bottom: 24px; margin-bottom: 20px;}
    .market-stats:nth-last-child(-n + 2){border-bottom: none; padding-bottom: 0; margin-bottom: 0;}
}