

.meat-our-section{background: var(--french-navy, #013);}
.meat-our-thumb{max-width: 920px;}


.meat-our-main{left: 0; right: 0; top: 50%; transform: translateY(-50%); position: absolute;}
.meat-our-text{max-width: 420px; margin-left: auto;}
.meat-our-text h2{margin-bottom: 18px;}
.meat-our-desc{ font-size: 20px; line-height: 31px; letter-spacing: 0; font-weight: 400; font-family: "Century Gothic", sans-serif; }
.meat-our-desc p{margin-bottom: 24px;}
.meat-our-btns{gap: 30px;}






