
.open-positions-section{background: var(--ice-blue-light, rgba(217, 238, 247, 0.65));}
.open-positions-intro span.optional-text.dark{font-weight: 500;}
.positions-intro-icon{margin-bottom: 9px;}
.open-positions-list{padding: 25px 30px; margin-bottom: 20px; box-shadow: -5px 5px 0 var(--capri-ocean-light, rgba(8, 148, 211, 0.10));}
.open-positions-list{ font-size: 13px; line-height: 22px; font-family: "Century Gothic", sans-serif; color: var(--muted-dark, rgba(16, 42, 70, 0.60));}
.open-positions-text h2{margin-bottom: 2px; font-weight: 500;}
.open-positions-text h2 a{color: var(--midnight);}
.open-positions-text h2 a:hover{color: var(--green-pear);}
.open-positions-form{gap: 52px;}
.positions-categorys{gap: 0 28px;}
.positions-categorys.no_positions_category ul.positions-category{display: none;}
ul.positions-category{margin: 0; gap: 0 28px; width: fit-content;} 
ul.positions-category li{margin: 0; }
ul.positions-category li::before{width: 3px; height: 3px; right: -17px; left: auto; background-color: rgba(45, 87, 130, 0.14); top: 10px;}

.open-positions-field{border-bottom: 2px solid rgba(45, 87, 130, 0.14);}
.open-positions-field .selectBox-dropdown{padding: 0 24px 0 0; border-radius: 0; color: var(--midnight, #121321); background-color: transparent; border: none; font-family: "Century Gothic", sans-serif; font-size: 20px; font-weight: 400; line-height: 31px; }
.open-positions-field .selectBox-dropdown .selectBox-arrow{right: 0; color: var(--midnight, #121321);}



/*-- media css starts here --*/
@media screen and (min-width: 1024px){
    .open-positions-main{padding: 109px 0 85px; gap: 45px;}
    .open-positions-intro{flex: 0 0 422px;}
    .open-positions-right{flex: 1;}
    .open-positions-form{margin-bottom: 34px;}
    .open-positions-list{gap: 32px;}
    .open-positions-text{flex: 1;}
    .open-positions-btn{flex: 0 0 130px;}
}
@media screen and (max-width: 1023px) and (min-width: 740px) {
    .open-positions-main{padding: 80px 0 50px; display: block;}
    .open-positions-intro{margin-bottom: 4rem;}
    .open-positions-form{margin-bottom: 34px;}
    .open-positions-field{flex: 0 0 calc(50% - 26px);}
    .open-positions-list{gap: 32px;}
    .open-positions-text{flex: 1;}
    .open-positions-btn{flex: 0 0 130px;}
}
@media screen and (max-width: 739px) and (min-width: 200px){
    .open-positions-main{padding: 80px 0 60px; display: block;}
    .open-positions-intro{margin-bottom: 2rem;}
    .open-positions-form{margin-bottom: 40px; justify-content: flex-start;}
    .open-positions-field{flex: 0 0 calc(50% - 36px);}
    .open-positions-list{display: block; padding: 21px 30px;}
    .open-positions-text{margin-bottom: 17px;}
    .open-positions-text h2{margin-bottom: 4px;}
    .open-positions-btn{gap: 20px; justify-content: space-between; align-items: center; display: flex; flex-wrap: wrap;}
    ul.positions-category li:last-child::before{display: none;}   
}
@media screen and (max-width: 413px) and (min-width: 200px){
    .open-positions-form{display: block;}
    .open-positions-field:not(:last-child){margin-bottom: 20px;}
}




