
.optional-cta{background-color: var(--aquamarine);}
.optional-cta-bg{opacity: 0.2; background-color: var(--aquamarine); transform: translate(10px,10px);}
.optional-cta-main{padding: 24px 27px 25px 34px; justify-content: space-between; align-items: center; margin: 60px 0 70px;}
.optional-cta-title h4{color: var(--white); margin-bottom: 0; font-weight: 500;}

@media screen and (max-width: 739px) and (min-width: 200px) {
    .optional-cta{width: 97%;}
    .optional-cta-main{gap: 17px; margin: 40px 0 50px;}
}