

.optional-repeater-text span.optional-text{margin-bottom: 10px;}
.optional-repeater-text h2{margin-bottom: 22px;}
.optional-repeater-text p:not(:last-child){margin-bottom: 20px;}
.optional-repeater-text ul{margin: 0 0 33px 23px;}
.optional-repeater-text ul li{margin-bottom: 11px;}
.optional-repeater-bg{transform: translate(-20px, 20px); opacity: 0.3; background: var(--capri-ocean, #0894D3);}
.optional-repeater-bg.aquamarine{background-color: var(--aquamarine);}
.optional-repeater-bg.green-pear{background-color: var(--green-pear);}
.optional-repeater-btns{gap: 39px;}
.optional-box-bg{width: 230px; min-height: 100px; padding: 0 22px; gap: 16px; background-color: rgba(0, 18, 51, 0.75); color: var(--white, #FFF); font-size: 14px; font-weight: 700; line-height: 15px; font-family: "Century Gothic", sans-serif; z-index: 2; }
.optional-box-bg.top-right{right: -96px; top: -36px;}
.optional-box-bg::after{width: 24px; height: 24px; position: absolute; background-color: rgba(0, 18, 51, 0.75); content: ""; display: block;}
.optional-box-bg.top-right::after{left: 0; bottom: -24px; clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);}
.optional-box-bg.bottom-left{left: -92px; bottom: 26px;}
.optional-box-bg.bottom-left::after{right: 0; top: -24px;clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);}
.optional-box-bg.top-left{left: -90px; top: 20px;}
.optional-box-bg.top-left::after{right: 0; bottom: -24px; clip-path: polygon(0 0, 99% 0, 100% 100%, 100% 100%);}
.optional-box-bg.bottom-right{right: -96px; bottom: 26px;}
.optional-box-bg.bottom-right::after{left: 0; top: -24px; clip-path: polygon(0 0, 100% 100%, 0 100%);}

body.home .optional-circle{z-index: 2;}
.optional-circle{width: 58px; height: 58px; display: flex; flex-wrap: wrap; align-items: center; color: var(--white, #FFF); font-size: 14px; font-weight: 700; line-height: 15px; }
.optional-circle svg{top: 0; left: 0; z-index: -1; position: absolute;}
.optional-count{flex: 1; font-size: 16px; line-height: 20px; font-weight: 300; letter-spacing: -0.32px; color: var(--white-55);}
.optional-count span{margin-bottom: 5px; color: var(--white, #FFF); display: block; font-size: 19px; font-weight: 700; line-height: 20px; letter-spacing: 0.38px;}

.optional-box-bg.optional-box-large{width: 320px;}
.optional-box-bg.optional-box-large .optional-count{font-size: 14px; letter-spacing: -0.28px;}
.optional-box-bg.optional-box-large .optional-count span{font-size: 20px; letter-spacing: 0.4px;}

.oval-graph{display: flex; align-items: center; justify-content: center;}
.oval-lines{gap: 16px; top: -8px; left: 2px;}
.oval-line{width: 1px; height: 48px; background-color: var(--white); opacity: 0.2; display: block;}

.center.oval-lines{gap: 11px;}
.center .oval-line{width: 6px; height: 14px; opacity: 1; background-color: var(--aquamarine);} 
.center .oval-line:nth-child(1){height: 16px; margin-top: 6px;}
.center .oval-line:nth-child(2){height: 24px; margin-top: 14px;}
.center .oval-line:nth-child(3){height: 14px; margin-top: 22px;}
.graph-lines{gap: 16px; left: 2px; position: absolute;}
.graph-line{width: 1px; height: 48px; background-color: var(--white); opacity: 0.2; display: block;}

.oval-lines.bar-lines{top: 0;}
.oval-lines.bar-lines span.oval-line{position: relative;}
.oval-lines.bar-lines span.oval-line:nth-child(3){left: -1px;}
.bar-lines span.oval-line:last-child{display: none;}
[data-ui-el="bars"]{left: -1px; position: relative;}

/* media css starts here */
@media only screen and (min-width: 1024px){
    .optional-repeater-main{padding: 118px 0 115px;}
    body.page-template-career .optional-repeater-main{padding: 108px 0 138px;}
    body.page-template-services .optional-repeater-main{padding: 118px 0 101px;}
    .optional-repeater-row{flex-direction: row-reverse; align-items: center;}
    .optional-repeater-row.reverse{flex-direction: row;}
    .optional-repeater-row:not(:last-child){margin-bottom: 124px;}
    body.page-template-services .optional-repeater-row:not(:last-child){margin-bottom: 114px;}
    body.page-template-about .optional-repeater-row:not(:last-child){margin-bottom: 99px;}
    body.page-template-about .optional-repeater-row.optional-logos .optional-repeater-image{max-width: 535px;}
    .optional-repeater-row:nth-child(even){flex-direction: row;}
    .optional-repeater-text{flex: 0 0 422px; margin-right: auto;}
    .optional-repeater-image{flex: 1; max-width: 520px;}

    .optional-repeater-row.no_image .optional-repeater-text{flex: 1; margin-right: 0;}
}
@media only screen and (min-width: 1300px){
    .optional-repeater-row{gap: 168px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .optional-repeater-row{gap: 84px;}
    .optional-box-bg.bottom-left{left: -50px;}
    .optional-box-bg.top-left{left: -40px;}
    .optional-box-bg.bottom-right{right: -50px;}
    .optional-box-bg.top-right{right: -40px;}
}
@media only screen and (max-width: 1023px) and (min-width: 740px){
    .optional-repeater-main{padding: 0 0 120px;}
    body.page-template-services .optional-repeater-main{padding: 80px 0 120px;}
    body.page-template-default .optional-repeater-main{padding: 100px 0;}
    .optional-repeater-row{display: block;}
    .optional-repeater-row:not(:last-child){margin-bottom: 101px;}
    .optional-repeater-image{margin: 0 0 77px 20px;}
    .optional-box-bg.bottom-left{left: -60px;}
    .optional-box-bg.top-left{left: -60px;}
    .optional-box-bg.bottom-right{right: -20px;}
    .optional-box-bg.top-right{right: -20px;}
    .optional-repeater-image.no_margin{margin: 0;}
    .optional-repeater-row.optional-logos{display: flex; flex-direction: column-reverse;}
    .optional-logos .optional-repeater-text{margin-bottom: 61px;}
}
@media only screen and (max-width: 739px) and (min-width: 200px){
    .optional-repeater-main{padding: 0 0 120px;}
    body.page-template-default .optional-repeater-main{padding: 100px 0;}
    body.page-template-become-a-partner .optional-repeater-main{padding: 0 0 80px;}
    body.page-template-services .optional-repeater-main{padding: 32px 0 120px;}
    .optional-repeater-row{display: block;}
    .optional-repeater-row:not(:last-child){margin-bottom: 90px;}
    body.page-template-career  .optional-repeater-main{padding: 0 0 100px;}
    body.page-template-career .optional-repeater-row{display: flex; flex-direction: column-reverse;}
    body.page-template-career .optional-repeater-row .optional-repeater-image{margin: 0 0 0 20px;}
    body.page-template-career .optional-repeater-row .optional-repeater-text{margin-bottom: 104px;}
    body.page-template-career .optional-repeater-row.reverse .optional-repeater-text{margin-bottom: 74px;}
    .optional-repeater-image{margin: 0 20px 77px;}
    .optional-repeater-text h2{margin-bottom: 21px;}
    .optional-box-bg.top-right{right: -20px; top: -21px;}
    .optional-box-bg.bottom-left{left: -40px; bottom: 17px;}
    .optional-box-bg.bottom-right{right: -20px; bottom: 18px;}
    .optional-box-bg.top-left{top: -20px; left: -40px;}
    .optional-box-bg{padding: 0 17px; width: 190px; min-height: 80px;}
    .optional-count span{font-size: 17px; letter-spacing: 0.34px;}
    .optional-count{font-size: 14px; letter-spacing: -0.28px;}
    .optional-repeater-image.no_margin{margin: 0;}
    .optional-repeater-row.optional-logos{display: flex; flex-direction: column-reverse;}
    .optional-logos .optional-repeater-text{margin-bottom: 61px;}
}









