


/* media css starts here */
@media screen and (min-width: 1024px){
    .pwl-intro-main{padding: 128px 0 100px; gap: 87px;}
    .pwl-intro-head{flex: 0 0 442px;}
    .pwl-intro-desc{flex: 1; padding-top: 33px;}
}


@media screen and (max-width: 1023px) and (min-width: 200px) {
    .pwl-intro-main{padding: 183px 0 80px;}
    .pwl-para-mob{margin-bottom: 30px;}
}
















