


/* media css starts here */
@media screen and (min-width: 1024px){
    .pwl-intro-main{padding: 128px 0 100px; gap: 87px;}
    body.page-template-services .pwl-intro-main{position: relative; z-index: 1;}
    .pwl-intro-head{flex: 0 0 442px;}
    .pwl-intro-desc{flex: 1; padding-top: 33px;}
}


@media screen and (max-width: 1023px) and (min-width: 200px) {
    .pwl-intro-main{padding: 183px 0 80px;}
    body.page-template-become-a-partner .pwl-intro-main, body.page-template-become-a-client .pwl-intro-main{padding: 19px 0 80px;}
    body.page-template-services .pwl-intro-main{padding: 0 0 80px;}
    body.page-template-services .pwl-intro-head span.optional-text.muted{margin-bottom: 12px;}
    body.page-template-default .pwl-intro-main{padding: 76px 0 80px;}
    body.page-template-career .pwl-intro-main{padding: 158px 0 80px;}
    .pwl-para-mob{margin-bottom: 23px;}
}
















