
.question-section{background-color: rgba(217, 238, 247, 0.65);}
.question-title{margin-bottom: 33px;}
.question-title-name{font-size: 17px; line-height: 1.76; letter-spacing: -0.17px;}
.question-nt-main{max-width: 381px; margin-left: auto;}
.question-nt-cont{padding: 63px 59px 157px 59px;}
.question-nt-cont .optional-text{color: #0894d3; font-weight: 500;}
.question-nt-cont h4{font-size: 26px; font-weight: 500; line-height: 1.23; letter-spacing: -0.78px; margin-bottom: 18px;}
.question-nt-sm{width: 141px; margin: -60px auto 0;}
.question-icon svg, .question-icon figure{width: 54px;}

/* media css starts here */
@media screen and (min-width: 1024px) {
    .question-main{gap: 111px; max-width: 1218px; margin-left: 30px; padding: 132px 0 24px;} 
    .question-left{flex: 0 0 449px;}
    .question-right{flex: 0 0 calc(100% - 560px);}
    .question-title{gap: 34px;}
    .question-icon{flex: 0 0 54px;}
    .question-title-name{flex: 0 0 calc(100% - 88px);}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .question-main{gap: 80px; margin-left: 0;}
    .question-left{flex: 0 0 430px;}
    .question-right{flex: 0 0 calc(100% - 510px);}
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    .question-main{padding: 80px 0 0;}
    .question-nt-main{max-width: 100%; margin-left: 0;}
    .question-nt-cont{padding: 64px 73px 80px 38px;}
    .question-nt-sm{width: 123px; margin: 0; top: 18px; left: -10px;}
    .question-nt-sm svg{width: 123px; transform: scalex(-1);}
    .question-title{margin-bottom: 40px; gap: 13px;}
    .question-title-name h3{margin-bottom: 11px;}
}