
body.page-template-services .service-section{background-color: rgba(217, 238, 247, 0.65);}

.service-watermark{top: 0; right: 0;}
.service-watermark svg:first-child{top: 0; right: -31px; position: absolute;}
.service-watermark svg:not(first-child){top: 219px; right: -105px; position: absolute;}
.service-accordion .accordion-item.open::after{color: var(--capri-ocean);}
.service-accordion .accordion-content ul > li::before{background: var(--capri-ocean);}

.service-icon{margin-bottom: 15px; width: 54px;}

@media screen and (min-width: 1024px) {
    .service-main{gap: 168px; padding: 108px 0 116px; align-items: center;}
    .service-text{flex: 0 0 540px; padding-right: 115px;}
    .service-accordion{flex: 0 0 calc(100% - 708px);}
}

@media screen and (max-width: 1299px) and (min-width: 1024px) {
    .service-main{gap: 100px;}
    .service-text{flex: 0 0 400px; padding-right: 0;}
    .service-accordion{flex: 0 0 calc(100% - 500px);}
}

@media screen and (max-width: 1023px) and (min-width: 200px) {
    .service-accordion{width: 100%;}
    .service-main{padding: 100px 0 64px;}
    .service-text{margin-bottom: 60px;}
    .service-icon{margin-bottom: 14px;}
    .service-text span.optional-text{margin-bottom: 19px;}
    .service-watermark svg:first-child{top: -30px; right: 28px;}
}