
.services-banner-section{background-color: rgba(217, 238, 247, 0.65); box-shadow: -20px 20px 0 0 #d9eef7;}
.service-banner-text{ font-size: 20px; line-height: 1.55; font-weight: normal; font-family: 'Century Gothic';}
.service-banner-text p{max-width: 421px;}
.service-banner-stat-num.pacific-blue{color: var(--pacific-blue);}
.service-banner-stat-num.bright-spring{color: var(--bright-Spring);}
.service-banner-stat-num.aquamarine{color: var(--aquamarine);}

.service-banner-image .optional-box-bg{width: 280px;}
.service-banner-image .optional-box-bg.bottom-right{right: -255px; bottom: 40px;}
.service-banner-image .optional-box-bg.top-left{left: -197px; top: 244px;}

.service-banner-image-bg{background-color: var(--capri-ocean); transform: translate(-20px,20px);}
.service-banner-stats{padding-bottom: 14px; margin-bottom: 13px; border-bottom: 1px solid rgba(45, 87, 130, 0.14); color: rgba(16, 42, 70, 0.6); font-family: "Century Gothic",sans-serif; font-size: 16px; font-weight: 400; line-height: 20px; letter-spacing: -.32px; text-align: left;}
.service-banner-stats:last-child{border-bottom: none; padding-bottom: 0; margin-bottom: 0;}
.service-banner-stat-num{color: var(--white,#fff); font-family: "Century Gothic",sans-serif; font-size: 42px; font-weight: 400; line-height: 38px; letter-spacing: .84px;}

.service-banner-polygon-main{left: 0; width: 131px; height: 125.5px; bottom: -125px;}
.service-banner-polygon-light{width: 131px; height: 137px; left: 0; background-color: rgb(230, 244, 250); clip-path: polygon(0 0,100% 0,50% 50%,0% 100%);}
.service-banner-polygon-dark{width: 20px; height: 155px; background-color: #d9eef7; clip-path: polygon(0 0,100% 0,100% 88%,0% 100%); content: ""; left: -20px;}

@media screen and (min-width: 1024px) {
    .service-banner-main{gap: 80px; padding-top: 120px;}
    .service-banner-text{flex: 0 0 540px; padding: 150px 0 50px;}
    .service-banner-rt{flex: 0 0 calc(100% - 620px); gap: 66px; justify-content: end;}
    .service-banner-image{max-width: 355px;}
    .service-banner-stats-col{flex: 0 0 calc(100% - 559px); padding-top: 100px;}

    .service-banner-main.no_image{align-items: center;}
    .service-banner-main.no_image .service-banner-text{flex: 0 0 840px; padding: 150px 0 150px;}
    .service-banner-main.no_image .service-banner-text p{max-width: 100%;}
    .service-banner-main.no_image .service-banner-rt{flex: 0 0 200px; justify-content: start;}
    .service-banner-main.no_image .service-banner-stats-col{flex: 1; padding-top: 0;}
}

@media screen and (max-width: 1299px) and (min-width: 1024px) {
    .service-banner-main{gap: 40px;  padding: 110px 0 0;}
    .service-banner-text{flex: 0 0 400px;}
    .service-banner-text h1{font-size: 48px; line-height: 55px;}
    .service-banner-rt{flex: 0 0 calc(100% - 440px); gap: 30px; justify-content: end;}
    .service-banner-image{max-width: 330px;}
    .service-banner-stats-col{flex: .5;}
    .service-banner-image .optional-box-bg.top-left{top: 144px;}
    .service-banner-image .optional-box-bg.bottom-right{right: -195px;}

    .service-banner-main.no_image .service-banner-text{flex: 0 0 750px;}
}

@media screen and (max-width: 1023px) and (min-width: 200px) {
    .service-banner-main{padding: 140px 0 0; margin-bottom: 100px;}
    .service-banner-text{margin-bottom: 31px; width: 100%;}
    .service-banner-text span.optional-text{margin-bottom: 0;}
    .service-banner-text p{max-width: 100%;}
    .service-banner-rt{flex-direction: row-reverse; align-items: center; justify-content: space-evenly;}
    .service-banner-main.no_image .service-banner-rt{justify-content: center; margin-bottom: 30px;}
    .service-banner-image{margin: 0; max-width: 200px;}
    .service-banner-stats-col{flex: 0 0 174px;}
    .service-banner-polygon-main{width: 50px; height: 50px; bottom: -50px;}
    .service-banner-polygon-light{width: 50px; height: 50px;}
    .service-banner-image .optional-box-bg.bottom-right{right: 0;}
    .service-banner-image .optional-box-bg{width: 190px;}
}

@media screen and (max-width: 413px) and (min-width: 200px) {
    .service-banner-rt{justify-content: space-between;}
    .service-banner-image{max-width: 150px;}
    .service-banner-stats-col{flex: 0 0 140px;}
}