
.service-watermark{top: 0; right: 0;}
.service-watermark svg:first-child{top: 0; right: -31px; position: absolute;}
.service-watermark svg:not(first-child){top: 219px; right: -105px; position: absolute;}


@media screen and (min-width: 1024px) {
    .service-main{gap: 168px; padding: 108px 0 121px;}
    .service-text{flex: 0 0 540px; padding-right: 115px;}
    .service-accordion{flex: 0 0 calc(100% - 708px);}
}