




.short-intro-head{gap: 80px;}
.short-intro-title{flex: 0 0 442px;}
.short-intro-desc{flex: 1;}
.short-intro-row{gap: 50px;}
.short-intro-list{flex: 1;}

.short-intro-desc{color: var(--midnight);}
span.number{font-size: 100px; line-height: 100px; font-family: 'Century Gothic',sans-serif;}