

.values-icon{margin-bottom: 8px;}
.values-text{font-size: 15px; line-height: 25px;}
.values-text h2{ margin-bottom: 19px; color: var(--capri-ocean, #0894D3);font-family:"brother-1816", sans-serif; font-size: 28px; font-weight: 500; line-height: 29px; }



/* media css starts here */
@media screen and (min-width: 1300px){
    .values-main{gap: 50px;}
    .values1-of-1{flex: 0 0 100%;}
    .values1-of-2{flex: 0 0 calc(50% - 25px); padding-right: 24px;}
    .values1-of-3{flex: 0 0 calc(33.3333333% - 34px); padding-right: 24px;}
    .values1-of-4{flex: 0 0 calc(25% - 38px); padding-right: 24px;}
}
@media screen and (min-width: 1024px){
    .values-main{padding: 0 0 89px;}
    
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .values-main{gap: 32px;}
    .values1-of-1{flex: 0 0 100%;}
    .values1-of-2{flex: 0 0 calc(50% - 16px);}
    .values1-of-3{flex: 0 0 calc(33.3333333% - 22px);}
    .values1-of-4{flex: 0 0 calc(25% - 24px);}
    .values-text h2 { font-size: 24px; line-height: 25px; }
}
@media only screen and (max-width: 1023px) and (min-width: 740px){
    .values-main{gap: 40px; padding: 0 0 82px;}
    /* .values-list{flex: 0 0 calc(50% - 20px);} */
    .values-main.slick-slider .slick-list{overflow: inherit;}
    .values-main .slick-list::before{content: ""; position: absolute; top: 0; right: -40px; width: 85px; height: 100%; background-image: linear-gradient(to left, var(--white) 5%, transparent 100%); z-index: 1;}
    .values-main.slick-slider ul.slick-dots{margin-top: 38px;}
    .values-list{width: 307px; margin-right: 30px; border-top: 8px solid rgba(8, 148, 211, 0.20);; padding-top: 21px;}
    .values-text p{margin-bottom: 17px;}
    .values-text h2{font-size: 28px; line-height: 34px; margin-bottom: 11px;}
}
@media only screen and (max-width: 739px) and (min-width: 200px){
    .values-main{display: block; padding: 0 0 82px;}
    .values-main.slick-slider .slick-list{overflow: inherit;}
    .values-main .slick-list::before{content: ""; position: absolute; top: 0; right: -20px; width: 85px; height: 100%; background-image: linear-gradient(to left, var(--white) 5%, transparent 100%); z-index: 1;}
    .values-main.slick-slider ul.slick-dots{margin-top: 38px;}
    .values-list{width: 307px; margin-right: 30px; border-top: 8px solid rgba(8, 148, 211, 0.20);; padding-top: 21px;}
    .values-text p{margin-bottom: 17px;}
    .values-text h2{font-size: 28px; line-height: 34px; margin-bottom: 11px;}
}
