:root {
    --black: #000;
    --black-5: rgb(0 0 0 / 5%);
    --black-10: rgb(0 0 0 / 10%);
    --white: #FFFFFF;
    --french-navy: #013;
    --muted-light: rgba(217, 238, 247, 0.60);
    --green-pear: #89CB3E;
    --midnight: #121321;
    --pacific-blue: #0654A3;
    --capri-ocean: #0894D3;
    --aquamarine: #10B596;
    --bright-Spring: #269ABD;
    --ice-blue: #d9eef7;
    --muted-dark-2: rgba(33, 82, 131, 0.60);
    --line-dark: rgba(45, 87, 130, 0.14);
    --bermuda: #A1CFBD;
}
