
header.header-main{top: 0; left: 0; right: 0; width: 100%; height: auto; position: fixed; z-index: 1800;  transition: all 0.4s ease-in-out; background-color: var(--white);}
header.black-header:not(.sticky-header){background-color: transparent;}
header.black-header:not(.sticky-header) .logo-black{opacity: 0;}
header.sticky-header{background-color: var(--white); box-shadow: 0px 6px 10px 0px rgba(0, 17, 51, 0.05); }

.logo span{display: inline-block; transition: all 0.4s ease;}
.logo-black{top: 0; left: 0; opacity: 1; position: absolute;}
header.sticky-header .logo-white{opacity: 0;}
header.sticky-header .logo-black{opacity: 1;}

body.page-template-learn header.header-main:not(.sticky-header){background-color: transparent;}
body.page-template-career header.header-main:not(.sticky-header), body.page-template-services header.header-main:not(.sticky-header){background-color: transparent;}
body.page-template-home .site-main-cover, body.page-template-career .site-main-cover, body.page-template-meet-with-us .site-main-cover, body.post-template-default .site-main-cover, body.page-template-become-a-client .site-main-cover, body.page-template-services .site-main-cover, body.page-template-default .site-main-cover, body.page-template-learn-model .site-main-cover, body.page-template-financial-goals-survey .site-main-cover{padding-top: 0;}

.header-srch{cursor: pointer;}
.header-srch-form{top: 50%; width: 0; left: 0; transform: translateY(-50%); z-index: 1999; transition: all .5s ease;}
.header-srch-form.open{width: 100%;}
.search-form{position: relative; overflow: hidden;}
.custom_icon{position: absolute; top: 50%; transform: translateY(-50%); line-height: normal; left: 12px; color: #a6b1ba;}
.search-field{padding: 18px 40px; border-radius: 8px;}
.close-srch{position: absolute; right: 12px; top: 50%; transform: translateY(-50%); line-height: 1; cursor: pointer;}

.header-btns{align-items: center;}
.header-btns .selectBox-dropdown{ background: transparent; border: 2px solid var(--capri-ocean); border-radius: 0; color: var(--midnight); font-weight: 700;}
body .header-btns .selectBox-dropdown.selectBox-menuShowing{border-radius: 0;}

header.black-header .header-btns .selectBox-dropdown{color: var(--midnight);}
header.black-header:not(.sticky-header) .header-btns .selectBox-dropdown{color: var(--white);}

.sticky-header .header-btns .selectBox-dropdown{color: var(--midnight);}

/* media css starts here */
@media screen and (min-width: 1600px){
    .header-srch-form{left: 375px;}
    .header-srch-form.open{width: calc(43% - 375px);}
}
@media screen and (min-width: 1300px){
    .header-btns .selectBox-dropdown{min-width: 112px; width: 112px;}
    .mobile-logo{display: none;}

    .site-main-cover{padding-top: 150px;}
    .header{gap: 12px; padding: 20px 0; min-height: 88px; transition: all 0.4s ease;}
    .logo{flex: 0 0 294px; position: relative;}
    .logo a img{max-width: 100%;}
    .header-btns{gap: 10px; width: fit-content; order: 3;}
    .header-btns .button{padding: 14px 20px 15px 19px; font-family: "Century Gothic";}
    .header-btns .button.btn-transparent{min-width: 115px; color: var(--midnight);}
    .header-btns .button:hover{color: var(--white);}
    ul.main-menu{margin: 0;}
    ul.main-menu > li{margin: 0;}
    ul.main-menu > li::before{display: none;}
    ul.main-menu > li > a{padding: 45px 0; color: var(--midnight); display: block; font-size: 18px; line-height: 20px; letter-spacing: 0.36px; font-weight: 700;}
    ul.main-menu > li:hover > a, ul.main-menu > li.current_page_item > a, ul.main-menu > li > a:hover{color: var(--green-pear);}

    ul.main-menu > li > ul{visibility: hidden; opacity: 0; top: 100%; margin: 0; position: absolute; background-color: var(--white); transition: all 0.25s ease-in;}
    ul.main-menu > li:hover > ul{opacity: 1; visibility: visible;}
    
    ul.main-menu > li:not(.nav-services) > ul{min-width: 280px; padding: 22px 32px; box-shadow: 0 5px 40px 0 rgba(0,17,51,.15); border-radius: 2px;}
    ul.main-menu > li:not(.nav-services) > ul::before{ width: 0; height: 0; top: -4px; left: 20px; border-radius: 0; border: 5px solid transparent; border-top-width: 5px; border-top-style: solid; border-top-color: transparent; border-left-width: 5px; border-left-style: solid; border-left-color: transparent; border-top: 5px solid var(--white); border-left: 5px solid var(--white); content: ""; display: block; transform: rotate(45deg); position: absolute; }
    ul.main-menu > li:not(.nav-services) > ul > li::before{display: none;}
    ul.main-menu > li:not(.nav-services) > ul > li{margin: 0 0 20px;}
    ul.main-menu > li:not(.nav-services) > ul > li:last-child{margin-bottom: 0;}
    ul.main-menu > li:not(.nav-services) > ul > li > a{color: var(--midnight); display: block; font-size: 16px; line-height: 20px; letter-spacing: 0.36px; font-weight: 500;}
    ul.main-menu > li:not(.nav-services) > ul > li > a:hover{color: var(--capri-ocean);}
    
    /*-- nav-services --*/
    ul.main-menu > li.nav-services{position: static;}
    ul.main-menu > li.nav-services > ul{width: 100vw; left: 0; box-shadow: 13px 13px 0 var(--capri-ocean); display: flex; flex-wrap: wrap;}
    ul.main-menu > li.nav-services > ul > li{margin: 0; padding: 72px 0 72px 80px; flex: 0 0 calc(25% - 0px);}
    ul.main-menu > li.nav-services > ul > li:last-child{flex: 0 0 50%; padding: 0 0 0 88px; background-color: var(--french-navy);}
    ul.main-menu > li.nav-services > ul > li::before{display: none;}
    ul.main-menu > li.nav-services > ul > li > a{display: block; color: var(--muted-dark, rgba(16, 42, 70, 0.60)); font-family:"brother-1816", sans-serif; font-size: 12px; font-weight: 500; line-height: 21px; letter-spacing: 1.2px; text-transform: uppercase; }
    ul.main-menu > li.nav-services > ul > li > ul{margin: 0; padding: 20px 0 0;}
    ul.main-menu > li.nav-services > ul > li > ul > li{margin: 0 0 20px;}
    ul.main-menu > li.nav-services > ul > li > ul > li::before{display: none;}
    ul.main-menu > li.nav-services > ul > li > ul > li > a{color: var(--midnight, #121321); font-family: "Century Gothic", sans-serif; font-size: 16px; font-weight: 700; line-height: 24px; display: inline-block;}
    ul.main-menu > li.nav-services > ul > li > ul > li > a:hover{color: var(--capri-ocean);}
    .menu-thumb::after{width: 100%; height: 100%; top: 0; left: 0; background: linear-gradient(-270deg, #013 0%, rgba(0, 17, 51, 0.10) 100%); content: ""; display: block; position: absolute;}
    .menu-text{padding: 65px 88px; max-width: 500px;  color: var(--white); font-family:"brother-1816", sans-serif; letter-spacing: 0;}
    .menu-text span{margin-bottom: 10px; color: var(--white); display: block;}
    /*-- nav-services --*/

    .sticky-header .header{padding: 0;}
    .sticky-header ul.main-menu > li > a{padding: 41px 0 45px;}

    .humburger-btn{display: none;}
    .header-srch{width: fit-content; margin-left: 72px;}
    
    .languages{flex: 1; order: 1; gap: 10px; flex-wrap: nowrap; font-size: 12px; font-weight: 700; line-height: 20px; letter-spacing: 0.6px; color: var(--midnight, #121321); font-family: "Century Gothic", sans-serif; }
    .languages a{width: 32px; height: 32px; opacity: 0.35;  color: var(--midnight);}
    .languages a.active{opacity: 1; background-color: var(--white); color: var(--midnight);}
    
    .header-right{flex: 1; margin-left: 14px; gap: 64px; align-items: center; justify-content: flex-end;}
    .header-right-inner{flex: 1; margin-left: 14px; gap: 64px; align-items: center; justify-content: flex-end;}
    ul.main-menu{gap: 0 46px; order: 2; width: fit-content; justify-content: flex-end; font-family: 'Century Gothic', sans-serif;}


    body.page-template-meet-with-us header.black-header:not(.sticky-header) .header-btns .btn-transparent, body.post-template-default header.black-header:not(.sticky-header) .header-btns .btn-transparent {color: #0894d3;}
    body.page-template-meet-with-us header.black-header:not(.sticky-header) .header-btns .btn-transparent:hover, body.post-template-default header.black-header:not(.sticky-header) .header-btns .btn-transparent:hover{color: var(--white);}

    header.black-header:not(.sticky-header) .header-btns .button{color: var(--white);}
    header.black-header:not(.sticky-header) .header-srch svg path{fill: #fff;}
    header.black-header:not(.sticky-header) .languages a{opacity: 0.35; color: var(--white);}
    header.black-header:not(.sticky-header) .languages a.active{opacity: 1; background-color: var(--white-10); color: var(--white);}
    header.black-header:not(.sticky-header) ul.main-menu > li > a{color: var(--white);}
    header.black-header.sticky-header .languages a.active{color: var(--midnight);}


    .header-sign-btn{position: relative; padding: 10px 0;}
    .header-btns .header-sign-btn:hover .button{background-color: var(--capri-ocean); color: var(--white);}
    ul.signin-menu{display: block; max-height: 0; opacity: 0; visibility: hidden; width: 100%; margin: 0; position: absolute; top: calc(100%); left: 0; background: var(--white); margin: 0;  box-shadow: 0 5px 40px 0 rgba(0,17,51,.15); transition: all 0.5s ease;}
    .header-sign-btn:hover ul.signin-menu{ max-height: inherit; opacity: 1; visibility: visible;}
    ul.signin-menu::before{width: 0; height: 0; top: -4px; right: 15px; transition: all 0.5s ease; border-radius: 0; border: 5px solid transparent; border-top: 5px solid var(--white); border-left: 5px solid var(--white); content: ""; display: block; transform: rotate(45deg); position: absolute; }
    ul.signin-menu li{display: block; margin-bottom: 0; padding: 0; white-space: normal; }
    ul.signin-menu li:first-child{padding-top: 8px;}
    ul.signin-menu li:last-child{padding-bottom: 8px;}
    ul.signin-menu li::before{display: none;}
    ul.signin-menu li a{padding: 8px 16px; transition: none; display: block; width: 100%; color: var(--midnight,#121321); cursor: pointer; font-size: 15px; line-height: 15px; letter-spacing: 0; font-weight: 700; letter-spacing: normal; display: block; text-transform: none; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-family: 'Century Gothic';}
    ul.signin-menu li a:hover{color: var(--capri-ocean); transition: all 0.5s ease;}

}
@media only screen and (max-width: 1599px) and (min-width: 1300px){
    .logo { flex: 0 0 264px; }
    .header-right{gap: 29px;}
    .header-right-inner{gap: 29px;}
    ul.main-menu{gap: 20px;}
    .header-srch-form{left: 285px;}
    .header-srch-form.open{width: calc(100% - 285px);}
}
@media only screen and (max-width: 1499px) and (min-width: 1300px){
    .header-srch{margin-left: 12px;}
}
@media only screen and (max-width: 1299px) and (min-width: 200px){
    .site-main-cover{padding-top: 90px;}
    .header{padding: 25px 0 26px; display: block; position: relative;}
    .logo{width: 213px; z-index: 1800;}
    .header-right{max-width: 500px;  transform: translateX(100%);  display: block; width: 100%; height: 100%; top: 0; right: 0; position: fixed; overflow-y: auto; overflow-x: hidden; -webkit-overflow-scrolling: touch; transition: all 0.4s ease-in-out; z-index: 800; background-color: var(--white);}
    .header-right-inner{ padding: 155px 68px 44px; background-color: var(--white); box-shadow: -20px 20px 0 0 #d9eef7; position: relative;}
    .header-right.open{transform: translateX(0);}
    .header-right-inner::after{content: ""; width: 50px; height: 47px; background-color: var(--white); position: absolute; bottom: -46px; left: 0; clip-path: polygon(0 100%,0 0,100% 0,0% 100%);}
    .header-overlay{width: 100%; height: 100%; top: 0; left: 0; opacity: 0; visibility: hidden; background-color: var(--french-navy); content: ""; display: block; position: fixed; transition: all 0.4s ease;}
    .header-overlay.open{opacity: 0.5; visibility: visible; z-index: 700;}
    ul.main-menu{display: block;}
    .header-srch-pos{right: 54px; width: 16px; top: calc(50% + 1px); transform: translateY(-50%); position: absolute; z-index: 1800;}

    .header-menu-polygon{content: ""; width: 50px; height: 47px; bottom: -46px; left: 0; clip-path: polygon(0 100%,0 0,100% 0,0% 100%); background-color: var(--white); display: block;}
    .header-btns.active{display: none;}
   
    .humburger-btn {width: 23px; height: 23px; right: 0; top: 50%; transform: translateY(-50%); cursor: pointer; display: block; position: absolute; z-index: 850;}
    .humburger-btn span{width: 23px; height: 2px; margin: 0; top: 0; display: block; background-color: #001133; position: absolute; transition: all 0.4s ease;}
    .humburger-btn span:nth-child(2){top: 8px;}
    .humburger-btn span:nth-child(3){top: 16px;}
    .humburger-btn.active span:nth-child(1){top: calc(50% - 2px); transform: rotate(45deg);}
    .humburger-btn.active span:nth-child(3){top: calc(50% - 2px); transform: rotate(-45deg);}
    .humburger-btn.active span:nth-child(even){opacity: 0;}

    .black-header:not(.humburger-btn, .nav-open) .humburger-btn span{background-color: var(--white);}
    .black-header:not(.humburger-btn, .nav-open) svg path{fill: var(--white);}

    header.sticky-header.black-header:not(.humburger-btn, .nav-open) .humburger-btn span{background-color: var(--midnight);}
    header.sticky-header.black-header:not(.humburger-btn, .nav-open) svg path{fill: var(--midnight);}

    ul.main-menu{margin: 0 0 27px;}
    ul.main-menu > li{margin: 0; }
    ul.main-menu > li::before{display: none;}
    ul.main-menu > li > a{padding: 24px 0; border-bottom: 1px solid var(--line-dark); color: var(--midnight); display: block; font-size: 18px; line-height: 20px; letter-spacing: 0.36px; font-weight: 700; position: relative;}
    ul.main-menu > li:last-child > a{border-bottom: none;}
    ul.main-menu > li.current_page_item > a, ul.main-menu > li > a:hover{color: var(--capri-ocean);}
    
    .header-btns{padding-bottom: 100px; gap: 10px; flex-direction: column;}

    .languages{flex: 1; order: 1; gap: 10px; font-size: 12px; font-weight: 700; line-height: 20px; letter-spacing: 0.6px; color: var(--midnight, #121321); font-family: "Century Gothic", sans-serif; }
    .languages a{width: 42px; height: 42px; color: rgba(18, 19, 33, 0.35);}
    .languages a.active{background-color: var(--ice-blue-light); color: var(--midnight);}
    .languages a:hover{background-color: var(--green-pear);}

    .header-srch-form {left: auto; right: 32px; top: calc(50% - 4px);}
    .header-srch-form.open{width: calc(100% - 32px);}

    ul.main-menu > li > ul{margin: 0; max-height: 0; width: 100%; opacity: 0; visibility: hidden; transform: translateX(100%); left: 68px; display: block; transition: all 0.75s ease; background-color: var(--white); position: relative;} 
    ul.main-menu > li > ul.submenu-1{opacity: 1; max-height: inherit; visibility: visible; transform: translateX(0); left: 0; display: block;}
    ul.main-menu > li.menu-item-has-children > a.active{transform: translateX(0);}
    ul.main-menu > li.menu-item-has-children > a::after{content: "\f054"; position: absolute; top: calc(50% + 1px); transform: translateY(-50%); right: 0; font-family: "Font Awesome 6 Pro"; font-size: 15px; font-weight: 500; color: var(--capri-ocean);}
    ul.main-menu > li > ul > li::before{display: none;}
    ul.main-menu > li.nav-services > ul > li{margin-bottom: 35px;}
    ul.main-menu > li.nav-services > ul > li > ul{display: block !important;}
    ul.main-menu > li > ul > li > ul{margin: 0;}
    ul.main-menu > li > ul > li > ul > li::before{display: none;}
    ul.main-menu > li > ul > li:last-child{display: none;}
    ul.main-menu > li > ul > li.sub-head > a{padding: 0 0 24px; display: block; color: rgba(16, 42, 70, 0.6); font-size: 12px; line-height: 21px; letter-spacing: 1.2px; font-weight: bold; font-family: brother-1816,sans-serif; text-transform: uppercase; margin-bottom: 0;}
    ul.main-menu > li > ul > li > a{margin-bottom: 20px; color: var(--midnight); font-size: 16px; line-height: 24px; letter-spacing: normal; font-weight: bold; font-family: 'Century Gothic';}
    ul.main-menu > li > ul > li ul > li > a{margin-bottom: 20px; color: var(--midnight); font-size: 16px; line-height: 24px; letter-spacing: normal; font-weight: bold; font-family: 'Century Gothic';}
    ul.main-menu > li > ul > li ul > li > a:hover{color: var(--capri-ocean);}

    /*-- level --*/
    ul.main-menu > li{transition: all 0.5s ease;}
    ul.main-menu > li.sib{max-height: 0; overflow: hidden; opacity: 0;}
    ul.main-menu > li.menu-item-has-children > a.active{padding-left: 20px; border-bottom-color: transparent; color: transparent;} 
    ul.main-menu > li.menu-item-has-children > a.active::before{content: "Back"; font-size: 18px; line-height: 20px; color: var(--capri-ocean);  letter-spacing: 0.36px;}
    ul.main-menu > li.menu-item-has-children > a.active::after{left: 0; right: auto; transform: translateY(-50%) scaleX(-1);}

    .header-sign-btn{position: relative; padding: 10px 0;}
    .header-btns .header-sign-btn:hover .button, .button.sign_btn.active{background-color: var(--capri-ocean); color: var(--white);}
    ul.signin-menu{display: none; width: 100%; margin: 0; position: absolute; top: calc(100%); left: 0; background: var(--white); box-shadow: 0 5px 40px 0 rgba(0,17,51,.15);}
    ul.signin-menu::before{width: 0; height: 0; top: -4px; right: 15px; transition: all 0.5s ease; border-radius: 0; border: 5px solid transparent; border-top: 5px solid var(--white); border-left: 5px solid var(--white); content: ""; display: block; transform: rotate(45deg); position: absolute; }
    ul.signin-menu li{display: block; margin-bottom: 0; padding: 0; white-space: normal; }
    ul.signin-menu li:first-child{padding-top: 8px;}
    ul.signin-menu li:last-child{padding-bottom: 8px;}
    ul.signin-menu li::before{display: none;}
    ul.signin-menu li a{padding: 8px 16px; transition: none; display: block; width: 100%; color: var(--midnight,#121321); cursor: pointer; font-size: 15px; line-height: 15px; letter-spacing: 0; font-weight: 700; letter-spacing: normal; display: block; text-transform: none; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-family: 'Century Gothic';}
    ul.signin-menu li a:hover{color: var(--capri-ocean); transition: all 0.5s ease;}

}
@media only screen and (max-width: 1300px) and (min-width: 740px){
    .mobile-logo{position: absolute; top: 20px; left: 20px; width: 213px;}
}
@media only screen and (max-width: 739px) and (min-width: 200px){
    .header-right{max-width: 100%;}
    header.header-main.nav-open .logo-white{opacity: 0;}
    header.header-main.nav-open .logo-black{opacity: 1;}
}
@media only screen and (max-width: 520px) and (min-width: 200px){
    .nav-open .header::before{content: ""; background-color: var(--white); width: 100% ; height: 90px; position: absolute; top: 0; left: 0; z-index: 850;}
    .header-srch-pos svg { width: 17px; height: 17px; top: 1px; position: relative; }
}

